a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
}

a:visited {
  color: black;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#searchFilters {
  display: flex;
  flex-direction: column;
}

#searchFilters h2 {
  font-weight: 600;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  height: 120px;
}

.menuItem {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 140px;
}

.menuItem > a:visited {
  color: black;
}
.menuItem > a:hover {
  color: #0065fc;
}

.menuItem::before {
  content: "";
  display: flex;
  width: 0;
  height: 3px;
  background: #0065fc;
  transition: width 0.3s;
  margin: 0px auto;
  margin-bottom: 30px;
}

.menuItem:hover::before {
  width: 100%;
}

#insnav > a:link {
  font-weight: bold;
  color: #0065fc;
}

#insnav > a:visited {
  font-weight: bold;
  color: #0065fc;
}

/* #secH {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40 10%;
}

.cardH {
  display: inline-block;
  width: 200px;
  height: 300px;
  position: relative;
  margin: 10px;
  box-shadow: 6px 6px 6px black;
  border-radius: 10px;
}

.cardH img {
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cardH .container {
  display: block;
  width: 100%;
  min-height: 15rem;
}
 */

#Hébergements {
  background-color: #f2f2f2;
  max-width: 70%;
}

#Hébergements h1 {
  padding: 20px;
}

.cardH img {
  height: 250px;
  width: 250px;
  vertical-align: ;
  object-fit: cover;
}

.secH {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cardH {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.cardH_item {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#LesPlusPopulaires {
  background-color: #f2f2f2;
  max-width: 30%;
  margin-left: 20px;
}

#LesPlusPopulaires h1 {
  padding: 20px;
}

.cardPP img {
  height: 250px;
  width: 250px;
  vertical-align: ;
  object-fit: cover;
}

.secPP {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cardPP {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.cardPP_item {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#sectionCentre {
  display: flex;
  flex-direction: row;
}

.actContainer {
  width: 100%;
  margin: 2rem auto;
}

.actColumns {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(2, 30%);
  grid-gap: 3rem;
}

.act1,
.act2,
.act3,
.act4,
.act5,
.act6 {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 20%;
}

.act__img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  display: block;
}

.act1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.act2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.act3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.act4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.act5 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.act6 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
